<html>
  <head>
    <script src="static/js/jquery.js"></script>
    <script src="static/js/underscore.js"></script>
    <script src="static/js/backbone.js"></script>

    <script src="static/js/index.js"></script>

    <link rel="stylesheet" type="text/css" href="static/css/index.css">
    
    <script class="betTemplate" type="application/text">
      <div class="bet">
        <%= title %><br>
        <% if(choice == 'home') { %>
        Home at <%= line %>
        <% } else { %>
        Away at <%= -line %>
        <% } %>
      </div>
    </script>
    
    <script class="gameTemplate" type="application/text">
      <div class="game">
        <%= home %> (Home) <% if(line >= 0) { %>+<% } %><%= line %> vs. <%= away %> (Away)<br>

        <% if(!betted) { %>
        <button class="home">Bet Home</button>
        <button class="away">Bet Away</button>
        <% } else { %>
        Bet taken already
        <% } %>
      </div>
    </script>
  </head>
  <body>
    <div id="content">
      <div id="message">
      </div>

      <div id="img">
      </div>

      <div id="buttons">
        <center>
          <button id="opt1">Option 1</button>
          <button id="opt2">Option 2</button>
        </center>
      </div>
    </div>
  </body>
</html>
