<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/css/scores.css">
  </head>
  <body>
    <div id="results">
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          {% for quiz in quizes %}
          <tr>
            <td>{{ quiz.date.strftime('%Y-%m-%d') }}</td>
            <td><a href="detail?id={{ quiz.id }}">{{ quiz.name }}</a></td>
            <td>{{ quiz.correct }} / {{ quiz.total }}</td>
          </tr>
          {% endfor %}
          </tbody>
      </table>
      <hr>
      <div>
        Thanks to Tom for the idea, Luke/Steve for the micrographs, and Leon Gatys (some dude from the internet) for his texture synthesis stuff: (<a href="http://arxiv.org/abs/1505.07376">paper</a>, <a href="https://github.com/leongatys/DeepTextures">code</a>)!
      </div>
    </div>
  </body>
</html>
